@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Hind+Madurai|Lexend+Peta|Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

.navbar-brand {
    color: yellow;
    font-family: 'Permanent Marker', cursive;
    font-size: 2.5em; 
    line-height: 1em;
}

#navbar {
    background-color: #1A1A1A;
    height: 4em;
    font-family: 'Lexend Peta', sans-serif;
}

.nav-link {
    display: inline;
}


#hyperlinks {
    color: gray;
    font-size: 1em;
}

.carousel-item {
    max-width: auto; 
    max-height:auto;
  position: relative;
  overflow: hidden;
}

a {
    color:white;
    font-size: 0.9em;
}

body {
    background-color: black;
    color: white;
    font-family: 'Lexend Peta', sans-serif
    font-size: 1em;
    line-height: 1;
    text-align: center;

}

#form-group {
    margin:auto;

}

h3 {
    font-family: 'Press Start 2P', cursive;
}




