@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Hind+Madurai|Lexend+Peta|Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt&display=swap');

@import url('https://fonts.googleapis.com/css?family=Bad+Script|Covered+By+Your+Grace|Homemade+Apple|Julius+Sans+One&display=swap');
/*
font-family: 'Bad Script', cursive;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Homemade Apple', cursive;
font-family: 'Covered By Your Grace', cursive;
font-family: 'Rock Salt', cursive;
font-family: 'Didact Gothic', sans-serif;
*/

.background-video {
  position: relative;
}

.background-video video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}

/* RATING CHART */
.rating-chart {
    margin: 0 auto; /* Center website */
    max-width: 800px; /* Max width */
    padding: 20px;
}

.heading {
  font-size: 25px;
  margin-right: 25px;
}

.fa {
  font-size: 25px;
}

.checked {
  color: orange;
}

/* Three column layout */
.side {
  float: left;
  width: 15%;
  margin-top: 10px;
}

.middle {
  float: left;
  width: 70%;
  margin-top: 10px;
}

/* Place text to the right */
.right {
  text-align: right;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #ffffff29;
  text-align: center;
  color: white;
}

/* Individual bars */
.bar-5 { height: 18px; background-color: #9abf4f;}
.bar-4 { height: 18px; background-color: #ffe157;}
.bar-3 { height: 18px; background-color: #9fd8ff;}
.bar-2 { height: 18px; background-color: #9c8cff;}
.bar-1 { height: 18px; background-color: #ff9f9f;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
  .side, .middle {
    width: 100%;
  }
  /* Hide the right column on small screens */
  .right {
    display: none;
  }
}

/* Style the tab */
.tab {
  overflow: hidden;
  background-color: black;
  background: rgba(0, 0, 0, 0.5);
  margin: 0, auto;
}
/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  background: transparent;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color: white;
  font-family: 'Lexend Peta', sans-serif ;
  font-size: 150%;
}
/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #0045ff36;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ffc107;
}
/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  /* Solid border */
  border-top: none;
  background-color: black;
  background: rgba(0, 0, 0, 0.3);
}
.tabcontent {
  animation: fadeEffect 1s;
}
/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

/*carousel*/
.carousel-control-next, .carousel-control-prev{
    top: 4em;
}
li {
    list-style-type: none;
}
.navbar-toggler-icon {
    background-color: white;
}
input#searchbar.search-form {
    /* color: #ffc107; */
    background-color: transparent;
    border-color: transparent;
    padding-left: 1rem;
    outline-width: 0;
    width: 550px;
    font-size: medium;
    animation-name: searchbar;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes searchbar {
      from {color: #ffc107;}
      to {color:#8747ff;}
}
div#search-box.modal-content {
    padding: 1rem;
    border-bottom: white;
    display: inline-flex;
    flex-direction: row;
    padding-bottom: 0.3rem;
    width: auto;
}
form.searchbox {
    display: inline-flex;
}
form.form-horizontal {
    position: auto;
    padding-bottom: 0.5;
}

/* NAVIGATION BAR */
.navbar-brand{
    color: #ffc107;
    font-family: 'Permanent Marker', cursive;
    font-size: 2.5em;
    line-height: auto;
}
#nav-brand a:hover {
    font-size:2.5em;
    color: white;
}
.navbar{
    /* background-color: #1A1A1A; */
    /* background-color: #e69c9c7a; */
    /* background: rgba(0, 0, 0, 0.3); */
    height: 4em;
    font-family: 'Lexend Peta', sans-serif ;
    padding: .5rem 2rem 3.5rem;
    animation-name: navbar;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
@keyframes navbar {
0%   {background-color: #ffffff1c}
35%  {background-color:#00000000;}
55%  {background-color: #ffffff1c;}
100% {background-color: #00000000;}
}
/* Change color of links on hover */
.navbar a:hover{
        color: #ffc107;
}
.nav-link{
    display: inline;
    padding: .5rem 0.5rem;
}
div#navbar-links {
    display: flex;
    align-items: center;
}
.dropdown-menu {
    background-color:#1A1A1A;
     text-decoration: none;
}
a.dropdown-toggle {
     text-decoration: none;
}

/* carousel */
#carousel{
	width: auto;
    height: 90vh;
}

#carousel .carousel-inner{
  height:90vh;
  position: relative;
  overflow: hidden;
  margin-top: -1rem;
  margin-bottom: 1rem;
  text-align:center;
}

#carousel .carousel-control-next-icon .carousel-control-prev-icon{
  height: 30px;
  width: 50px;
}

/*Game screenshots & artworks carousel*/
#gcarousel .carousel-inner {
  text-align: center;
  width: auto;
  height: 60vh;
}
.carousel-control-next, .carousel-control-prev {
    top: 4em;
    bottom: 20%;
}
a.carousel-control-next.d-flex.justify-content-start{
    width: 30%;
}
a.carousel-control-prev.d-flex.justify-content-end{
    width: 30%;

}

/*login*/
.modal-title{
  color: #ffc107;
  font-family:'Permanent Marker', cursive;
  font-size: 3rem;
  margin: 14px 37.5px;
}

.modal-content {
    background-color: #1A1A1A;
    padding: 4rem;
    margin: auto;
    opacity: 0.95;
    font-size: smaller;
}

.modal-content a{
  color: grey;
}

.modal-header .close{
  color: white;
  opacity:1;
  padding: 1rem;
  margin: -4rem -4rem 5rem auto;
}

.modal-footer{
    padding: 0;
}

.modal-footer p{
    margin-top: 2rem;
    padding: 11px;
}


.registration{
    text-align:center;
    margin: 0 auto;
    width:350px;
    font-family: 'Didact Gothic', sans-serif;
}

.registration h5{
    margin-top: 1.3rem;
    margin-bottom: 1rem;
    font-family: 'Lexend Peta', sans-serif;
    color: #ffc107;
}

/*Game Review Textbox*/
textarea {
  width: 900px;
  height:255px;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

a {
    color:white;
}

a:hover{
    color:  #ffc107;
    text-decoration: none;
    }

p{
    margin-bottom: 0.5rem;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 20px
}

h1 {
    font-family: 'Rock Salt', cursive;
    text-align: center;
    z-index: 1;
}
h3 {font-family: 'Rock Salt', cursive;

}
ul {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 20px;
}
body{
    /* background-color: black; */
    /* background-image: url("/static/img/stars.jpg"); */
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: white;
    font-family: 'Lexend Peta', sans-serif
    font-size: 1em;
    line-height: 1;
}
/* buttons */
.btn {
  background-color: white;
  border: none;
  padding: 16px 32px;
  text-align: center;
  margin: 4px 2px;
  transition: 0.3s;
}

.btn:hover {
    background-image: linear-gradient(to right, #fcd78b, #ffc107 49%, #0f87ff 100% );
}

.footer {
    text-align:center;
    position:relative;
    right:0;
    left: 0;
    bottom: 0;
    padding-top: 5rem;;
    padding-bottom: 2rem;
    opacity: 0.4;
}
/* remove radio button circles in rating form */
[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
/*Emoji rating spacing */
.fas {
padding: .5rem 0.5rem;
}

[type=button]{
    background-color: white;
    border-color: transparent;
    color: black;
    font-family: 'Covered By Your Grace', cursive;
}

[type=button]:hover{
    background-color:#ffc107;
}
