@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Hind+Madurai|Lexend+Peta|Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt&display=swap');

@import url('https://fonts.googleapis.com/css?family=Bad+Script|Covered+By+Your+Grace|Homemade+Apple|Julius+Sans+One&display=swap');
/*
font-family: 'Bad Script', cursive;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Homemade Apple', cursive;
font-family: 'Covered By Your Grace', cursive;
font-family: 'Rock Salt', cursive;
font-family: 'Didact Gothic', sans-serif;
*/
.navbar-toggler-icon {
    background-colro: white;
}

/* NAVIGATION BAR */
.navbar-brand{
    color: #ffc107;
    font-family: 'Permanent Marker', cursive;
    font-size: 2.5em;
    line-height: auto;
}
#nav-brand a:hover {
    font-size:2.5em;
    color: white;
}

#navbar{
    background-color: #1A1A1A;
    height: 4em;
    font-family: 'Lexend Peta', sans-serif;

}
/* Change color of links on hover */
#navbar a:hover{
        color:  #ffc107;
}

.nav-link{
    display: inline;
}

/* carousel */
#carousel{
	width: auto;
    height: 90vh;
}

#carousel .carousel-inner{
  height:90vh;
  position: relative;
  overflow: hidden;
  margin-top: -1rem;
  margin-bottom: 1rem;
  text-align:center;

}

#carousel .carousel-control-next-icon .carousel-control-prev-icon{
  height: 30px;
  width: 50px;
}

/*Game screenshots & artworks carousel*/
#gcarousel .carousel-inner {
  text-align: center;
  width: auto;
  height: 60vh;
}

/* #gcarousel .bg-image{
background-image: url(
    https://www.internetmatters.org/wp-content/uploads/2019/06/OnlineGaming-1200x630.png);
/* Add the blur effect */
  /* filter: blur(8px); */
  /* -webkit-filter: blur(8px); */

  /* Full height */
  /* height: 100%; */
  /* z-index:-1; */
  /* Center and scale the image nicely */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; } */
/* }  */

#searchBar {
    position: fixed;
    top: 30px !important;
    left: auto;
}
/*login*/
.modal-title{
  color: #ffc107;
  font-family:'Permanent Marker', cursive;
  font-size: 3rem;
  margin: 14px 37.5px;
}

.modal-content {
    background-color: #1A1A1A;
    padding: 4rem;
    margin: auto;
    opacity: 0.95;
    font-size: smaller;
}

.modal-content a{
  color: grey;
}

.modal-header .close{
  color: white;
  opacity:1;
  padding: 1rem;
  margin: -4rem -4rem 5rem auto;
}

.modal-footer{
    padding: 0;
}

.modal-footer p{
    margin-top: 2rem;
    padding: 11px;
}


.registration{
    text-align:center;
    margin: 0 auto;
    width:350px;
    font-family: 'Didact Gothic', sans-serif;
}

.registration h5{
    margin-top: 1.3rem;
    margin-bottom: 1rem;
    font-family: 'Lexend Peta', sans-serif;
    color: #ffc107;
}

/*Game Review Textbox*/
textarea {
  width: 900px;
  height:255px;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

a {
    color:white;
}

a:hover{
    color:  #ffc107;
    }

p{margin-bottom: 0.5rem;}

h1 {
    font-family: 'Rock Salt', cursive;
    text-align: center;
    z-index: 1;
}
body{
    background: black;
    color: white;
    font-family: 'Lexend Peta', sans-serif
    font-size: 1em;
    line-height: 1;
}
/* buttons */
.btn {
  background-color: white;
  border: none;
  padding: 16px 32px;
  text-align: center;
  margin: 4px 2px;
  transition: 0.3s;
}

.btn:hover {
    background-image: linear-gradient(to right, #fcd78b, #ffc107 49%, #0f87ff 100% );
}

.footer {
    text-align:center;
    position:relative;
    right:0;
    left: 0;
    bottom: 0;
    padding-top: 5rem;;
    padding-bottom: 2rem;
    opacity: 0.4;
}
