@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Hind+Madurai|Lexend+Peta|Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

.nav-link {

    color: white;

}

.navbar-brand {
    color: yellow;
    font-size: 2.5em; 
    line-height: 1em;
}

#navbar {
    background-color: #1A1A1A;
    height: 4em;
    /*font-family: 'Lexend Peta', sans-serif */
    /*font-family: 'Press Start 2P', cursive; */
    font-family: 'Permanent Marker', cursive;
    ;
}

body {
    background-color: white;
    color: black;
    font-family: 'Press Start 2P', cursive;
    font-size: 1em;
}

