<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}GAME-ON{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="http://code.jquery.com/jquery.js"></script>
</head>

<body>
<!-- Navigation bar -->
<nav id="navbar" class="navbar navbar-default navbar-fixed-top">
    <div id=nav-brand>
        <a class="navbar-brand" href="/">GAME-ON</a>
    </div>
    <div class="navbar-right">
        <a id="nav-link"class="nav-link" href="/games">GAMES</a>
        <!--Login Modal button-->
        <a id="nav-login-btn" class="nav-link" data-toggle="modal" data-target="#loginModal">LOGIN</a>
    </div>

    <!-- Login Modal Container-->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">

        <div class="modal-content">
          <div class="modal-header">
            <!-- Login Modal Title-->
            <h5 class="modal-title" id="loginModalLabel">GAME-ON</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <!--Login Modal Body-->
          <div class="modal-body text-center">
            <!-- Login Form-->
            <form class="form-horizontal" action="/login" method="POST">
             <!--Username-->
              <div class="form-group" id="form-group">
                <label class="control-label col-sm-12" for="username"></label>
                <div class="col-sm-12">
                  <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
                </div>
              </div>
              <!--Password-->
              <div class="form-group">
                <label class="control-label col-sm-12" for="pwd"></label>
                <div class="col-sm-12">
                  <input type="password" class="form-control" id="pwd" name="password" placeholder="Password" required><br>
                </div>
              </div>
              <!--Submit Button-->
              <div class="form-group">
                <div class="col-sm-12">
                  <button type="submit" class="btn btn-default">LOGIN</button>
                </div>
              </div>
            </form>
          </div>
          <!--Login Modal Footer-->
          <div class="modal-footer">
          <p>Not registered? <a id=register-link href="/register">Create an account.</a></p>
          </div>
        </div>
      </div>
  </dsiv>
</nav>
        <!-- Flash message -->
         <ul>
            {% for message in get_flashed_messages() %}
                <div class="alert alert-light" role="alert">
                    <b> {{ message }} </b>
                </div>
            {% endfor %}
        </ul>
    {% block content %} {% endblock %}
    {% block js %} {% endblock %}

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="/static/js/reviews.js"></script>
</body>
<footer class="footer"> {% block footer %} © 2019 GameON-LINE | Rights Reserved {% endblock %}</footer>
</html>
