{% extends 'base.html' %}
{% block content %}

<h3> {{ game_object.title }} </h3>


<h4> Screenshots and Artworks  </h4><br>

<script>
	const ssArtworks = {{ ss_artworks | tojson }};
	document.write(`<div id="carousel" class="carousel slide" data-ride="carousel">`);
	document.write(`<div class="carousel-inner">`);

	document.write(`<div class="carousel-item active">`);
	document.write(`<img class="carousel-slides w-100" src="${ssArtworks.slice(0,1)}">`);
	document.write(`</div>`);

	for (const img_url of ssArtworks.slice(1)) {
		document.write(`<div class="carousel-item">`);
		document.write(`<img class="carousel-slides w-100" src="${img_url}">`);
		document.write(`</div>`);
		}
	document.write(`</div>`)
	document.write(`</div>`)
</script>

<!-- Left & right controls for carousel -->
<a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>

<p>Summary : {{ game_object.summary }}</p>
<p>Release date: {{ game_object.release_date }}</p>
<p>Popularity Score: {{ game_object.popularity }}</p>

<
{% endblock %}
