{% extends 'base.html' %}
{% block content %}

<h3> {{ game_object.title }} </h3>

<h4> Screenshots and Artworks  </h4>
<!-- The grid: four columns-->
{% for image in ss_artworks %}
<div class="row">
    <div class="column">
        <img src="{{ image }}" onclick="myFunction(this);">
    </div>
</div>
{% endfor %}<br><br>

<!-- the expanding image container-->
<div class="container">
    <!--close image-->
    <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>

    <!-- expanding image-->
    <img id="expandedImg" style="width:100%">
    <!-- image text -->
    <div id="imgtext"></div>

</div>

<br>
<p>Summary : {{ game_object.summary }}</p>
<p>Release date: {{ game_object.release_date }}</p>
<p>Popularity Score: {{ game_object.popularity }}</p>

{% endblock %}
