{% extends 'base.html' %}
{% block content %}

<h3>LOGIN </h3>

<!-- <form action='/login' method="POST">
    Username: <input type="text" name="username" required><br>
    Password: <input type="password" name="password" required><br>
    <input type="submit" name="submit" value="LOGIN">
</form> -->


<form class="form-horizontal" action="/login" method="POST">
  <div class="form-group" id="form-group">
    <label class="control-label col-sm-2" for="username"></label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="username" placeholder="Username">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="pwd"></label>
    <div class="col-sm-2"> 
      <input type="password" class="form-control" id="pwd" placeholder="Password">
    </div>
  </div>
  
  <div class="form-group"> 
    <div class="col-sm-2">
      <button type="submit" class="btn btn-default">LOGIN</button>
    </div>
  </div>
  <p>Not registered? <a id=hyperlinks href="/register">Create an account.</a></p>
</form>



{% endblock %}